# Ignore everything by default
*

# Unignored
!.gitignore
!index.html
!style.css
!main.js
!manifest.json
!icon.svg
!README.md
!LICENCE

# Whitelist the specific directories containing whitelisted files
!preview/
!web-ext-artifacts/

# Whitelist the specific files within the whitelisted directories
!preview/*.png
!web-ext-artifacts/*.xpi